
footer {
    padding: 50px;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    position: relative;
    margin: 10px 0 0 0;
}

footer .logo {
    /*background: var(--clr2);*/
    /*background-color: white;*/
    background-image: url("../../240-140-w.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    width: 120px;
    height: 70px;
    /*border-radius: var(--text-radius);*/
}
footer nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50px, -50%);
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
}

footer nav ul li {
    /*display: inline-block;*/
    color: var(--clr2);
    font-weight: bold;
    font-size: medium;
    list-style: none;
    width: 60px;
    height: 10px;
    /*background: var(--clr2);*/
    border-radius: var(--text-radius);
}

.footer {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}