section {
    background: var(--clr2);
    padding: 100px 50px;
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
    margin: 10px 0 0 0;
}
section .headline {
    display: block;
    margin: 0 auto;
    list-style: none;
    max-width: 260px;
    height: 30px;
    background: var(--clr1);
    border-radius: var(--text-radius);
}
section .text {
    display: block;
    margin: 10px auto;
    max-width: 500px;
    height: 14px;
    background: var(--clr1);
    border-radius: var(--text-radius);
}
section .button {
    display: block;
    margin: 20px auto 0 auto;
    max-width: 120px;
    height: 35px;
    background: var(--clr1);
    border-radius: var(--text-radius);
}

section.cards {
    padding: 0px;
    background: transparent;
    display: table;
}
/*section.cards .card {*/
/*    background: var(--clr2);*/
/*    width: calc(33.6% - 10px);*/
/*    margin: 0 5px;*/
/*    border-radius: var(--border-radius);*/
/*    display: inline-block;*/
/*}*/
/*section.cards .card:first-child {*/
/*    margin: 0 5px 0 0;*/
/*}*/
/*section.cards .card:last-child {*/
/*    margin: 0 0 0 5px;*/
/*}*/
/*section.cards .card .content {*/
/*    padding: 40px;*/
/*}*/
/*section.cards .card img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    border-radius: var(--border-radius) var(--border-radius) 0px 0px;*/
/*}*/